@import url('../scss/fonts.scss');

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Quicksand', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fef9f9;

  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
}

.p-inputtext {
  border-radius: 24px !important;
  width: 500px;
}
